.same-component {
  max-width: 1024px;
  margin: 0 auto;
}

.aboutAdmin {
  font-size: 1.5em;
  letter-spacing: 0.01rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.updateButton {
  width: 60px;
  margin: 0 auto;
  cursor: pointer;
}
.same-form {
  padding: 10px;
}

.fa-trash:hover,
.fa-edit:hover {
  opacity: 0.6;
  cursor: pointer;
}

.same-item {
  margin: 0 auto;
  padding: 10px;
}

.updated{
  background-color: green;
  color:white;
  margin-bottom: 10px;
}

.item-delete-tab {
  background-color: red;
  text-align: center;
  color: white;
  font-weight: 400;
  margin: 0 auto;
  position: absolute;
  width: 200px;
  top: 120px;
  left: 20%;
  display: block;
  position: static;
  align-items: center;
}

.same-item .icons {
  text-align: right;
  margin: 0 10px;
  font-size: 18px;
}

.same-admin .single-education {
  margin-top: 10px;
}

.single-project {
  margin-top: 10px;
}

.updateButton {
  margin-top: 10px;
}
@media screen and (min-width: 420px) and (max-width: 720px) {
  .item-delete-tab {
    top: 120px;
    left: 26%;
  }
}

@media screen and (min-width: 724px) and (max-width: 1010px) {
  .item-delete-tab {
    top: 145px;
    left: 37%;
  }
  .same-component {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .same-item {
    flex: 1;
    margin-top: 32px;
  }
}

@media screen and (min-width: 1020px) and (max-width: 1420px) {
  .item-delete-tab {
    top: 150px;
    left: 40%;
  }

  .same-component {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .same-item {
    flex: 1;
    margin-top: 32px;
  }
}

@media screen and (min-width: 1420px) and (max-width: 1920px) {
  .item-delete-tab {
    top: 150px;
    left: 40%;
  }

  .same-component {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .same-item {
    flex: 1;
    margin-top: 32px;
  }
}

@media screen and (min-width: 1440px) {
  /* .item-delete-tab {
    top: 150px;
    left: 43.5%;
  } */

  .same-component {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .same-item {
    flex: 1;
    margin-top: 32px;
  }
}

/* Education CSS */

.same-admin {
  margin-bottom: 5px;
}

.eduAdmin {
  font-size: 1.5em;
  letter-spacing: 0.01rem;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Project */
#file_img {
  position: relative;
  margin-top: 20px;
  margin-left: 150px;
}

.upload img {
  width: 115px;
  display: block;
  height: 90px;
  border-color: white;
}
#file_img span {
  position: absolute;
  top: -10px;
  right: -7px;
  color: red;
  cursor: pointer;
  background-color: white;
  width: 20px;
  text-align: center;
  border-radius: 50%;
}

/* Experience */

.single-experience-add {
  margin-top: 8px;
}
